:root {
  --primary: rgb(0, 149, 255);
  --bg: #010101;
  --dark: rgb(0, 53, 91);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(1, 1, 1, 0.89);
  border-bottom: 1px solid #555555;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(5px);
}


/* ------------------------------------------------------------------------------------------------- */
                                          /* Logo Srfimz */
/* ------------------------------------------------------------------------------------------------- */
.navbar .navbar-logo {
  font-family: Pacifico;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}


/* ------------------------------------------------------------------------------------------------- */
                                    /* Navbar Home contact dll */
/* ------------------------------------------------------------------------------------------------- */
.navbar.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar-nav a {
  color: #fff;
  font-size: 1.2rem;
}

.navbar-nav a .imgHTML {
  position: relative;
  top: .1rem;
  width: 1rem;
  height: fit-content;
  margin-right: .4rem;
}

.navbar .navbar-nav a .imgCSS {
  position: relative;
  top: .4rem;
  width: 1.6rem;
  height: fit-content;
  margin-right: .1rem;
}

.navbar .navbar-nav a .imgJS {
  position: relative;
  top: .1rem;
  width: 1rem;
  height: fit-content;
  margin-right: .4rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
  font-weight: 500;
}

.navbar .navbar-nav a::after {
  content: '';
  padding-bottom: 0.5rem;
  margin: 0 2rem;
  border-bottom: 0.3rem solid white;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}


/* ------------------------------------------------------------------------------------------------- */
                                      /* Navbar Icons Extra */
/* ------------------------------------------------------------------------------------------------- */
.navbar .navbar-extra {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: green; */
}

.navbar .navbar-extra a {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}


/* ------------------------------------------------------------------------------------------------- */
                                      /* Hamburger Menu */
/* ------------------------------------------------------------------------------------------------- */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 1.4em;
  justify-content: space-between;
  position: relative;
  margin-left: 1.5rem;
  margin-bottom: 0.7rem;
}

.menu-toggle input {
  position: absolute;
  width: 37px;
  height: 26px;
  left: -5px;
  top: -3px;
  opacity: 0%;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 1.8em;
  height: 0.18em;
  background-color: rgb(241, 227, 255);
  border-radius: 3px;
  transition: all 0.5s;
}


/* hamburger Menu animation*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0)
}


/* ------------------------------------------------------------------------------------------------- */
                                     /* Hero section */
/* ------------------------------------------------------------------------------------------------- */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1,1,3,1) 5%, rgba(255, 255, 255,0) 50%);
}

.hero .content {
  padding: 9rem 7%;
  min-width: 100%;
}

.hero .content h1 {
  width: 40rem;
  font-size: 3.5rem;
  color: #ffffff;
  text-shadow: 2px 2x 5px rgba(255, 255, 255, 0.727);
  line-height: 1.2;
}

.hero .content h1 span {
  background: linear-gradient(-60deg, #00b3ff, rgb(0, 46, 231));
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.194);
}

.hero .content p {
  width: 60%;
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 5rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 550;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.768);
  background-color: rgba(0, 12, 47, 0.533);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(1, 1, 3);;
  transition: .5s;
  /* mix-blend-mode: difference; */
}

.hero .content .cta:hover {
  font-size: 1.7rem;
  font-weight: 700;
  border: 3px solid white;
  background: linear-gradient(-45deg, #00b3ffaf, rgba(0, 46, 231, 0.669));
  mix-blend-mode: normal;
  box-shadow: inset 0 0 15px 5px rgb(0, 4, 80);
}

/* ------------------------------------------------------------------------------------------------- */
                                     /* Section */
/* ------------------------------------------------------------------------------------------------- */
.container,
.html,
.css,
.javascript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  padding-top: 10% ;
  text-align: center;
  font-size: 2.6rem;
}

.container h2 span {
  color: var(--primary);
}

.container h3 {
  margin: 1.5rem auto 1rem;
  text-align: center;
}

.container p {
  text-align: center;
  margin: 3rem 5rem;
  font-weight: 100;
  line-height: 1.6;
}

.container .tombol a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  transition: .5s;
}

.container .tombol {
  margin: 3rem auto;
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.768);
  background-color: rgb(0, 12, 47);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(1, 1, 3);;
  transition: .5s;
}

.container .tombol a:hover {
  font-size: 2rem;
  font-weight: 1000;
  padding: 1.5rem 2.5rem;
  border: 2px solid rgba(255, 255, 255, 0.509);
  background: linear-gradient(-45deg, #00b3ff, rgb(0, 46, 231));
  /* mix-blend-mode: normal; */
  box-shadow: inset 0 0 15px 5px rgb(0, 4, 80);
}

/* ------------------------------------------------------------------------------------------------- */
                                         /* Footer */
/* ------------------------------------------------------------------------------------------------- */
footer {
  background: linear-gradient(135deg, #157aff,rgb(45, 45, 255), rgb(0, 42, 141));
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
  margin: 1.5rem auto 1.5rem;
}

footer .socials a {
  color: #fff;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit p {
  font-size: 1rem;
}

footer .credit a {
  color: var(--primary);
  font-weight: 700;
}

/* ------------------------------------------------------------------------------------------------- */
                                     /* Media Queries */
/* ------------------------------------------------------------------------------------------------- */


/* Laptop */
@media only screen and (max-width: 1124px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media only screen and (max-width: 1080px) {
  html {
    font-size: 70%;
  }
}
  
  @media only screen and (max-width: 768px) {
    html {
      font-size: 65%;
    }
  .menu-toggle {
    display: flex;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-image: linear-gradient(45deg, rgba(150, 255, 199, 0.458), rgba(0, 255, 255, 0.422), rgba(0, 34, 255, 0.468));
    width: 35vh;
    height: 100vh;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.427);
    padding: 2rem .5rem;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 0;
    padding-left: 3.5rem;
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.608);
    transition: all .3s;
  }

  .navbar .navbar-nav a:hover {
    font-size: 2.5rem;
    font-weight: 1000;
  }

  .navbar .navbar-nav a .imgHTML {
    width: 2.3rem;
    top: 0;
  }

  .navbar .navbar-nav a .imgCSS {
    width: 3.5rem;
    top: 0;
  }

  .navbar .navbar-nav a .imgJS {
    width: 2.3rem;
    top: 0;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.9);
  }

  .menu p {
    font-size: 1.2rem;
  }

  .container p {
    margin: 5rem 3rem;
  }
}

/* Mobile Phone */

@media only screen and (max-width: 640px) {
  html {
    font-size: 60%;
  }

  .container p {
    margin: 3rem 3rem;
  }

  .navbar .navbar-nav {
    width: 33vh;
  }

  .container h2 {
    font-size: 4rem;
    padding: 15vh 0 3vh;
  }

  p {
    font-size: 1.8rem;
  }

  .container .tombol a {
    font-size: 2rem;
    transition: all .3s;
  }

  .container .tombol a:hover {
  }

}

@media only screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .navbar .navbar-nav {
    width: 30vh;
  }
}

@media only screen and (max-width: 320px) {

  html {
    font-size: 40%;
  }

  .navbar .navbar-nav {
    width: 25vh;
  }
}